.kanban-container {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: auto;
}
.kanban-container * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.kanban-container:after {
	clear: both;
	display: block;
	content: '';
}
.kanban-board {
	position: relative;
	float: left;
	background: #e2e4e6;
	-webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.kanban-board.disabled-board {
	opacity: 0.3;
}
.kanban-board.is-moving.gu-mirror {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}
.kanban-board.is-moving.gu-mirror .kanban-drag {
	overflow: hidden;
	padding-right: 50px;
}
.kanban-board header {
	font-size: 16px;
	padding: 15px;
}
.kanban-board header .kanban-title-board {
	font-weight: 700;
	margin: 0;
	padding: 0;
	display: inline;
}
.kanban-board header .kanban-title-button {
	float: right;
}
.kanban-board .kanban-drag {
	min-height: 200px;
	padding: 20px;
}
.kanban-board:after {
	clear: both;
	display: block;
	content: '';
}
.kanban-item {
	background: #fff;
	padding: 15px;
	margin-bottom: 20px;
	-webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.kanban-item:last-child {
	margin: 0;
}
.kanban-item.is-moving.gu-mirror {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
	height: auto !important;
}
.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
}
.gu-hide {
	display: none !important;
}
.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
.gu-transit {
	opacity: 0.2 !important;
	-webkit-transform: rotate(0) !important;
	transform: rotate(0) !important;
}

.kanban-container .kanban-board {
    border-radius: 4px;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem !important;
    background-color: #f7f8fa; }
.col-lg-12 .kanban-container .kanban-5 {
    width: calc(33% - 1.25rem) !important; } 
.kanban-container .kanban-5 {
    width: calc(50% - 1.25rem) !important; } 
.col-lg-12 .kanban-container .kanban-4 {
    width: calc(50% - 1.25rem) !important; } 
.kanban-container .kanban-4 {
    width: calc(50% - 1.25rem) !important; } 
.col-lg-12 .kanban-container .kanban-3 {
    width: calc(33% - 1.25rem) !important; } 
.kanban-container .kanban-3 {
    width: calc(50% - 1.25rem) !important; } 
.col-lg-12 .kanban-container .kanban-2 {
    width: calc(50% - 1.25rem) !important; } 
.kanban-container .kanban-2 {
    width: calc(50% - 1.25rem) !important; } 
.col-lg-12 .kanban-container .kanban-1 {
    width: calc(50% - 1.25rem) !important; } 
.kanban-container .kanban-1  {
    width: 100% !important; } 

@media (max-width: 1399px) {
    .col-lg-12 .kanban-container .kanban-5 {
        width: calc(33% - 1.25rem) !important; } 
    .kanban-container .kanban-5 {
        width: 100% !important; } 
    .col-lg-12 .kanban-container .kanban-4 {
        width: calc(50% - 1.25rem) !important; } 
    .kanban-container .kanban-4 {
        width: 100% !important; } 
    .col-lg-12 .kanban-container .kanban-3 {
        width: calc(33% - 1.25rem) !important; } 
    .kanban-container .kanban-3 {
        width: 100% !important; } 
    .col-lg-12 .kanban-container .kanban-2 {
        width: calc(50% - 1.25rem) !important; } 
    .kanban-container .kanban-2 {
        width: 100% !important; } 
    .col-lg-12 .kanban-container .kanban-1 {
        width: 100% !important; } 
    .kanban-container .kanban-1 {
        width: 100% !important; } }

@media (max-width: 1024px) {
    .col-lg-12 .kanban-container .kanban-5 {
        width: calc(50% - 1.25rem) !important; } 
    .kanban-container .kanban-5 {
        width: calc(50% - 1.25rem) !important; } 
    .col-lg-12 .kanban-container .kanban-4 {
        width: calc(50% - 1.25rem) !important; } 
    .kanban-container .kanban-4 {
        width: calc(50% - 1.25rem) !important; } 
    .col-lg-12 .kanban-container .kanban-3 {
        width: calc(50% - 1.25rem) !important; } 
    .kanban-container .kanban-3 {
        width: calc(50% - 1.25rem) !important; } 
    .col-lg-12 .kanban-container .kanban-2 {
        width: calc(50% - 1.25rem) !important; } 
    .kanban-container .kanban-2 {
        width: calc(50% - 1.25rem) !important; } 
    .col-lg-12 .kanban-container .kanban-1 {
        width: 100% !important; } 
    .kanban-container .kanban-1 {
        width: 100% !important; } }

@media (max-width: 768px) {
    .col-lg-12 .kanban-container .kanban-5 {
        width: 100% !important; } 
    .kanban-container .kanban-5 {
        width: 100% !important; } 
    .col-lg-12 .kanban-container .kanban-4 {
        width: 100% !important; } 
    .kanban-container .kanban-4 {
        width: 100% !important; } 
    .col-lg-12 .kanban-container .kanban-3 {
        width: 100% !important; } 
    .kanban-container .kanban-3 {
        width: 100% !important; } 
    .col-lg-12 .kanban-container .kanban-2 {
        width: 100% !important; } 
    .kanban-container .kanban-2 {
        width: 100% !important; } 
    .col-lg-12 .kanban-container .kanban-1 {
        width: 100% !important; } 
    .kanban-container .kanban-1 {
        width: 100% !important; } }
